<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhang.administrator.thermal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/xiaohui"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".acitivity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".acitivity.SetActivity"/>
        <activity android:name=".acitivity.MetalCategoryActivity"/>
        <activity android:name=".acitivity.LiXueXingNengActivity"/>
        <activity android:name=".acitivity.JinXiangZhuZhiActivity"/>
        <activity android:name=".acitivity.MainActivity"/>
        <activity android:name=".acitivity.AluminumActivity"/>
        <activity android:name=".acitivity.IronActivity"/>
        <activity android:name=".acitivity.SteelActivity"/>
        <activity android:name=".acitivity.LoginActivity"/>
        <activity android:name=".acitivity.FormulaActivity"/>
        <activity android:name=".acitivity.SearchActivity"/>
        <activity android:name=".acitivity.FirstItemActivity"/>
        <activity android:name=".acitivity.AboutProductActivity"/>
        <activity android:name=".acitivity.FeedbackActivity"/>
        <activity android:name=".acitivity.RegisterActivity"/>
        <activity android:name=".acitivity.WebViewActivity"/>
        <activity android:name=".acitivity.FirstVideoActivity"/>
        <activity android:name=".acitivity.SecondActivity"/>
        <activity android:name=".acitivity.ThirdItemActivity"/>
        <activity android:name=".acitivity.FourthItemActivity"/>
        <activity android:name=".acitivity.FiveItemActivity"/>
        <activity android:name=".acitivity.SixItemActivity"/>
        <activity android:name=".acitivity.SecondVideoActivity"/>
        <activity android:name=".acitivity.ThirdVideoActivity"/>
        <activity android:name=".acitivity.FourthVideoActivity"/>

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--推送权限-->
    <!--允许读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许接收屏幕解锁广播 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!--允许接收开机广播 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 其他权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />



</manifest>
